/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #08035f, #5559cb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#app {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

#title-main {
    font-size: 2.5rem;
    color: #17d8b8;
    text-shadow: 2px 2px #ffe6e6;
}

.task-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#new-task {
    width: 70%;
    padding: 10px;
    border: 2px solid #17458f;
    border-radius: 5px;
    font-size: 1rem;
}

#add-task-btn {
    background-color: #17458f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-btn:hover {
    background-color: #1b14dd;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    background-color: #e6ffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.delete-btn {
    background-color: #17458f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #17d8b8;
}

footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666;
}
